<div class="container">
  <hr style="margin:10px">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Editar usuário</h4>
        </div>
        <div class="panel-body">
          <div class="box box-info">
            <div class="box-body">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                <%= devise_error_messages! %>

                <div class="field">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true %>
                </div>
<br>
                <div class="field">
                  <%= f.label :current_password, "Senha atual" %> <br />
                  <%= f.password_field :current_password, autocomplete: "off" %>
                </div>
<br>
                <div class="field">
                  <%= f.label :password, "Nova Senha" %><br />
                  <em>No mínimo <%= @minimum_password_length %> dígitos</em> <br>
                  <%= f.password_field :password, autocomplete: "off" %>
                  <% if @minimum_password_length %>
                  <% end %>
                </div>
<br>
                <div class="field">
                  <%= f.label :password_confirmation, "Repita a nova senha" %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "off" %>
                </div>
<br>
                <div class="actions">
                  <%= f.submit "Atualizar", class: 'btn btn-success' %>
                </div>
              <% end %>

              <h4>Apagar a conta</h4>

              <p><%= button_to "Apagar usuário", registration_path(resource_name), class: 'btn btn-sm btn-danger', data: { confirm: "Tem certeza que deseja o apagar usuário?" }, method: :delete %></p>
            </div>
            <!-- /.box -->
          </div>
        </div>
      </div>
    </div>
