<header>
  <div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to root_path, class: 'navbar-brand' do %>
          <%= render 'shared/rr_logo' %>
        <% end -%>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to 'Página Inicial', root_path, target: :_top %></li>
          <% if user_signed_in? %>
            <% if current_user.student?%>
            <li class="<%= is_active?(surveys_path) %>">
              <%= link_to "Planetas", root_path, target: :_top %>
            </li>

            <% elsif current_user.teacher?%>
            <li class="<%= is_active?(surveys_path) %>">
              <%= link_to "Planetas", lessons_path, target: :_top %>
            </li>
            <li class="<%= is_active?(surveys_path) %>">
              <%= link_to "Alunos", users_path, target: :_top %>
            </li>
            <% end -%>

          <% end -%>
        </ul>
          <ul class="nav navbar-nav navbar-right">

            <% unless user_signed_in? %>
            <li>
              <p class="navbar-text">
                <%= link_to "Criar astronauta", new_user_registration_path, target: :_top  %>
              </p>
            </li>
            <li>
              <p class="navbar-text">
                <%= link_to "Entrar", new_user_session_path, target: :_top  %>
              </p>
            </li>
            <% end %>

            <% if user_signed_in? %>
            <li>
              <p class="navbar-text">

                <%= link_to user_path(current_user), target: :_top  do %>
                <%= current_user.username %>
                <% end %>

              </p>
              <p class="navbar-text">
                <%= link_to "Sair", destroy_user_session_path, target: :_top  %>
              </p>
            </li>
            <% end %>

          </ul>
      </div>
    </div>
  </div>
</header>
