<div id="submit-name-modal" class="modal fade" data-new-user="<%= !current_user %>">
  <%= user_form do |f| %>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <h4> <%= f.label :name, 'Quam é seu nome?' %> </h4>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-user"></i>
              </span>
              <%= f.text_field :name, class: 'form-control' %>
            </div>
            <span class="help-block">Este é o seu nome de usuário. Ele será associado a cada atividade que você fizer</span>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.submit 'Enviar', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
