<div class="container">
  <div class="row">
    <h1>Painel de Administração</h1><br>
    <div class="col-md-9">
      <div class="col-md-6">
        <div class="wrimagecard wrimagecard-topimage">
          <%= link_to surveys_path, target: :_top  do %>
            <div class="wrimagecard-topimage_header ver-atividade">
              <i class="fa fa-th-list"></i>
            </div>
            <div class="wrimagecard-topimage_title">
              <h4>Ver atividades
              <div class="pull-right badge" id="WrControls"></div></h4>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-6">
          <div class="wrimagecard wrimagecard-topimage">
            <%= link_to new_survey_path(type: 'multiplechoice'), target: :_top  do %>
              <div class="wrimagecard-topimage_header criar-atividade">
                <i class="fa fa-pencil-square"></i>
              </div>
              <div class="wrimagecard-topimage_title" >
                <h4>Criar atividade
                  <div class="pull-right badge" id="WrForms"></div>
                </h4>
              </div>
            <% end %>
          </div>
      </div>
      <div class="col-md-6">
        <div class="wrimagecard wrimagecard-topimage">
          <%= link_to surveys_path, target: :_top  do %>
            <div class="wrimagecard-topimage_header ver-turma">
              <i class="fa fa-users"></i>
            </div>
            <div class="wrimagecard-topimage_title">
              <h4>Ver Turma
              <div class="pull-right badge" id="WrControls"></div></h4>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-6">
          <div class="wrimagecard wrimagecard-topimage">
            <%= link_to new_survey_path(type: 'multiplechoice'), target: :_top  do %>
              <div class="wrimagecard-topimage_header ver-relatorio">
                <i class="fa fa-bar-chart-o"></i>
              </div>
              <div class="wrimagecard-topimage_title" >
                <h4>Relatórios
                  <div class="pull-right badge" id="WrForms"></div>
                </h4>
              </div>
            <% end %>
          </div>
      </div>
    </div>

    <div class="col-md-3 sidebar">
        <%= render 'shared/ranking' %>
    </div>

    </div>

  </div>
</div>
