<div class="container">
  <div class="row questionnaires_<%= action_name %>">
    <h1>Planetas</h1>
    <div class="col-md-9">
      <%= link_to 'Novo Planeta', new_lesson_path %>
      <ul>
        <% @lessons.each do |lesson| %>
          <li>
            <a href="<%= surveys_path + '?lesson=' + lesson.id.to_s() %> ">
              <%= lesson.name %>
            </a>
            <%= link_to 'Show', lesson %>
            <%= link_to 'Edit', edit_lesson_path(lesson) %>
            <%= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' } %>
          </li>
        <% end %>
      </ul>
    </div>
</div>
