<div class="container">
  <div class="row questionnaires_<%= action_name %>">
    <h1><%= @lesson.name if @lesson %></h1>
      <% if @surveys.empty? %>

        <% if current_user.teacher %>
          <div class="col-md-4 col-md-offset-4 center">
            <p>Ainda não há missões neste planeta.</p>
            <%= link_to new_survey_path(type: 'multiplechoice', lesson: @lesson.id),
              target: :_top, class: 'btn btn-default' do %>
            <i class="fa fa-plus"> Adicionar missão</i>
            <% end %>
          </div>
        <% elsif current_user.student %>
          <div class="col-md-4 col-md-offset-4">
            <p>Ainda não há missões neste planeta.</p>
          </div>
        <% end %>
      <% else %>
      <div class="col-md-10 col-md-offset-1">
        <h2>Missões</h2>
        <div class="row">
          <% if params[:lesson] %>
            <%= render partial: 'survey', collection: @surveys %>
          <% elsif current_user.teacher %>
            <% controller.redirect_to lessons_path %>
          <% end %>
        </div>
        <%= paginate @surveys %>
      </div>
      <% end %>
  </div>
</div>
