<div class="container">
  <div class="modal-dialog">
    <div class="modal-content">
      <% if @attempt.winner %>
        <div class="modal-header">
          <p><%= @attempt.survey.name %></p>
          <h2>Missão cumprida! <span class="alert alert-success">+10 XP</span></h2>
          <p>Pontuação: <%= @attempt.score %> pontos</p>
        </div>
        <div class="modal-body celebration">
          <%= image_tag "celebration.gif" %>
        </div>
        <div class="modal-footer">
          <%= link_to 'Continuar', surveys_path(lesson: @attempt.survey.lesson_id), class: 'btn btn-lg btn-success' %>
        </div>
      <% else %>
        <div class="modal-header">
          <p><%= @attempt.survey.name %></p>
          <h2>Missão falhou :(</h2>
          <h4>Pontuação: <%= @attempt.score %> pontos</h4>
          <p>Você precisa de <%= minimum_score(@attempt) %> pontos para concluir a missão.</p>
        </div>
        <div class="modal-footer">
          <%= link_to 'Refazer', new_attempt_path(survey_id: @attempt.survey_id), class: 'btn btn-lg btn-danger' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
